@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Open+Sans&display=swap');

:root {
    /* colors */
    --color-brown: #965f41;
    --color-lightBrown: #c38e6a;
    --color-red: #ab5c5c;
    --color-green: #b8b17b;
    /*fonts*/
    --font-general: 'Open Sans', sans-serif;
    --font-head: 'Bubblegum Sans', cursive;
}

* {
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    margin: 0 auto;
    width: 280px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 0;
    font-size: 50px;
    font-family: 'Bubblegum Sans', cursive;
    border-bottom: 5px solid var(--color-red);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p, span, li, ul, a, input, div {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.App {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: var(--color-brown);
}

section {
    border-radius: 10px;
    padding: 60px 20px;
    max-width: 1100px;
    background: var(--color-lightBrown);
}

title {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    text-align: center;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 30px;
    text-decoration: underline;
    font-style: italic;
    letter-spacing: 1px;
}

.displayproducts {
    padding: 10px;
    /* margin: 10px; */
}

.coffeCard_container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.coffeecard {
    background: var(--color-brown);
    color: white;
    width: 320px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.addform {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.addform input {
    color: black;
    margin-left: 10px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 140px;
}

.addform button {
    cursor: pointer;
    width: 80px;
    /* outline: none; */
    /* border: none; */
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;
}

.addform button:hover {
    transform: scale(1.2);
}
